@use "sass:map";
@use "../abstracts/variables.scss" as v;

.wishlist {
    cursor: pointer;

    &__form{
        margin-top: 50px;
    }

    &__container{

        background-color:white;
        margin-bottom: 50px;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 2px 10px 0 #c8c8c87a;

        &--bottom{
            text-align: center;
        }
    }

    &__inner {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        margin-bottom: 20px;
    }

    &__title {
        font-family: v.$font-exo;
        font-size: 15px;
        font-weight: 600;
        color: map-get(v.$colors, black-800 );
    }

    &__input{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        padding: 20px;
        font-family: v.$font-raleway;
        font-weight: 400;
        font-size: 15px;
        color: map-get(v.$colors, black-800 );
        background-color: map-get(v.$colors, offwhite);

        &::placeholder{
            color: rgb(199, 199, 199);
        }

        &--textarea{
            width: 100%;
            max-width: 100%;
            border: none;
            border-radius: 10px;
            margin-top: 10px;
            padding: 20px;
            font-family: v.$font-raleway;
            font-weight: 400;
            font-size: 15px;
            color: map-get(v.$colors, black-800 );
            background-color: map-get(v.$colors, offwhite);

            &::placeholder{
                color: rgb(199, 199, 199);
            }
        }

        &--checkbox {
        display: none;
        }
    }
}

.wishlist__input--checkbox:checked + label {
    background-color: map-get(v.$colors, blue-gray );
}
