@use "sass:map";
@use "../abstracts/variables.scss" as v;


.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 20px;

    text-decoration: none;

    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 10px 0 #c8c8c87a;

    &--disabled{
        opacity: 20%;
    }

    &__title{
        font-family:v.$font-exo;
        font-size: 15px;
        font-weight: 500;
        margin-bottom:5px;
        color: map-get(v.$colors, black-800);
    }

    &__price {
        font-family:v.$font-exo;
        font-size: 20px;
        font-weight: 800;
        color: map-get(v.$colors, black-800);
    }

    &__action {
        cursor: pointer;
        color: white;
        border: none;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        background-color: map-get(v.$colors, pink-900 );
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link{
        text-decoration: none;
    }

    &__img {
        text-decoration: none;
        width: 85px;
        height: 85px;
        object-fit:contain;
        flex-basis: 30%;
    }

    &__shop {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    &__inner {
        flex-basis:70%;

        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
