.pagination {

    &--first {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
